<h1 class="text-center">Companies List!</h1>

<div class="list-group">
  <% @companies.each do |company| %>
    <div class="list-group-item">
      <h1 style="display: inline"><%= company.name.capitalize %></h1>
      <p><%= link_to "Show", company, class: "btn btn-primary btn-xs"%></p>
    </div>
  <% end %>
</div>

<%= link_to "Add new company", new_company_path, class: "btn btn-primary btn-xs", style: "margin-left: 15px" %>
