body > .container {
  padding-bottom: 20px;
}

.text-link {
  color: #333333;
  text-decoration: underline;
}

.chopped {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chopped:hover {
  text-overflow: inherit;
  overflow: visible;
  white-space: normal;
}

.no-padding {
  padding: 0;
}

.inline {
  display: inline;

}
.button-right {
  float: right;
  display: inline;
}

.alert.alert-info {
  background-color: #224f77;
  border: none;
  color: white;
  border-radius: 0;
}

.list-group-item {
  background-color: inherit;
  border-color: grey;
  margin-right: -1px;
}


.list-group-item.no-radius {
  border-radius: 0;
}

.list-group-item-frame {
 margin-top: -8px;
}

.checkbox-inline {
 margin-left: 10px;
 margin-right: 5px;
}

.light-border {
 border-style: solid;
 border-width: 1px;
 border-color: grey;
 padding: 13px;
 margin: 20px 0;
}

.light-border-show {
 border-style: solid;
 border-width: 1px;
 border-color: grey;
 margin: 20px 0;
}

.justify-content-md-center {
 display: flex;
 justify-content: center!important;
}

.description {
  padding-bottom: 40px;
}

.bottom-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.bottom-left {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.bottom {
  position: absolute;
  bottom: 7px;
}

.number-input {
  border-radius: 4px;
  margin-right: 10px;
}

.full-line {
  width: 100%;
}

.div-col {
  background-color: #bfbfbf;
  padding-top: 20px;
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: grey;
}

.center {
  text-align: center;
}

.list-group.row {
  margin-left: 0;
  margin-right: 0;
}

.right {
  position: absolute;
  right: 15px;
  display: inline;
}

.half {
  width: 50%;
  display: inline;
}

.no-top-m {
  margin-top: 0;
}

.window-no-padding {
  padding: 0;
  padding-bottom: 15px;
}

.window-no-padding li {
  padding-left: 15px;
  padding-right: 15px;
}

.window-top {
  margin-top: 0;
  background-color: #bfbfbf;
  width: 100%;
  padding: 10px 15px;
}
