<div class="topnav" id="myTopnav">
  <div class="container">
    <%= link_to "Puzzles", puzzles_path, class: page_is_active(puzzles_path)%>
    <%= link_to "Users", users_path, class: page_is_active(users_path) %>
    <%= link_to "Companies", companies_path, class: page_is_active(companies_path)%>
  </div>
</div>
