<div class="col-md-12 ch-row list-group-item">
  <div class="col-md-1 ch-col-thumb">
    <%= image_tag puzzle.avatar.thumb %>
  </div>
  <div class="col-md-11 ch-col">
    <h1 style="display: inline"><%= puzzle.name.capitalize %></h1>
    <p><%= link_to "Show", puzzle, class: "btn btn-primary btn-xs"%></p>
  </div>
</div>
