<h1 class="text-center">Puzzle List!</h1>
<div class="list-group">
  <% @puzzles.each do |puzzle| %>
    <div class="list-group-item">
      <h1 style="display: inline"><%= puzzle.name.capitalize %></h1>
      <p><%= link_to "Show", puzzle, class: "btn btn-primary btn-xs"%></p>
    </div>
  <% end %>
</div>

<% if policy(@puzzles).create?%>
  <%= link_to "Add new puzzle", new_puzzle_path(@pre_set), class: "btn btn-primary" %>
<% else %>
  You have to be <%= link_to "logged in", user_session_path, class: "text-link" %> to add new puzzles
<% end %>
