<h1>Puzzles List!</h1>

<% @puzzles.each do |puzzle| %>
  <p>
    <h2 style="display: inline"><%= puzzle.name %></h2>
    <%= link_to "Show", puzzle %>
  </p>
<% end %>

<%= link_to "Add new puzzle", new_puzzle_path %>
